upstream {{ item.key }} {
{% for server in groups.webserver %}
    server {{server}};
{% endfor %}
}

server {
    listen {{ item.value.frontend; }}:{{ item.value.backend }};

    location / {
        proxy_pass http://{{ item.key }};
    }
}
